<%- include('templates/header.ejs') %>

    <div class="flex flex-col gap-10 justify-center items-center p-5">

        <div>
            <h1 class="text-3xl self-center">Hello, <%= username %>
            </h1>
        </div>


        <div
            class="flex flex-row gap-10 justify-center items-start rounded-lg border-4 border-grey-200 border-solid p-10">

            <div class="flex flex-col gap-10">
                <div class="flex p-5 rounded-lg border-4 border-gray-200 border-solid bg-gray-50 text-3xl font-bold">
                    Chats
                </div>

                <div
                    class="flex flex-col justify-between gap-5 p-5 rounded-lg border-4 border-gray-200 border-solid bg-gray-50 ">
                    <% for (let i=0; i < rooms.length; i++) { %>
                        <div class="flex p-3 gap-10 bg-orange-100 rounded-lg">
                            <a class="text-xl font-bold text-blue-900 " href="/Main/<%= rooms[i].name %>">
                                <%= rooms[i].name %>
                            </a>
                            <div class="flex ml-auto">
                                <div class="text-xl font-bold text-red-900 ">
                                    <%= rooms[i].unreadCount %>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>



                <div id="newChatModal" class="modal hidden1">
                    <div class="modal-content text-3xl gap-3">
                        <div>
                            New Chat
                            <span class="close">&times;</span>
                        </div>

                        <input type="text" name="newChatName" id="newChatName"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="New Chat Name" />

                        <button type="submit" id="createChatButton"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Create Chat
                        </button>
                    </div>
                </div>

                <button id="newChatButton"
                    class="flex hover:bg-sky-300 p-5 rounded-lg border-4 border-gray-200 border-solid bg-gray-50 text-3xl font-bold">
                    new chat
                </button>



            </div>

            <div class="flex-col  border-4 bg-gray-50 border-gray-200 rounded-lg border-solid w-[800px]">

                <div
                    class="flex justify-between p-5 rounded-lg border-4 border-gray-200 border-solid bg-gray-50 text-3xl font-bold">
                    <h1 id="">
                        <%= groupName %>
                    </h1>
                    <input type="hidden" id="groupName" value="<%= groupName %>">

                    <div id="addMemberModal" class="modal hidden" role="dialog" aria-labelledby="modal-title"
                        aria-hidden="true">
                        <div class="modal-content text-3xl gap-3">
                            <div>
                                <h2 id="modal-title">Add New Members to <%= groupName %>
                                </h2>
                                <span id="closemembermodal" class="close" aria-label="Close modal">&times;</span>
                            </div>

                            <form action="/Main/updateMember" method="POST">
                                <div class="user-list">
                                    <% users.forEach(function(user) { %>
                                        <label class="block text-lg">
                                            <input type="checkbox" name="selectedUsers"
                                                value="<%= user.username.trim() %>" class="mr-2" <% if
                                                (usernames_in_room.includes(user.username)) { %>
                                            checked
                                            <% } %>
                                                >
                                                <%= user.username %>
                                        </label>
                                        <% }) %>
                                </div>

                                <button type="submit" id="addMembers">Update Group</button>
                            </form>

                        </div>
                    </div>

                    <button id="addButton"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-bold text-l rounded-lg sm:w-auto px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        +
                    </button>
                </div>

                <% for (let i=0; i < messages.length; i++) { %>
                    <div class="flex p-5" id="message<%= messages[i].message_id %>">
                        <% if (messages[i].username==username) { %>
                            <div class="flex justify-end w-full" ">
                                <% if (messages[i].isUnread) { %>
                                    <div class=" textboxesUnread text-align-left rounded-lg">
                                        <div class="font-bold">
                                            <%= messages[i].username %>
                                        </div>
                                        <%= messages[i].text %>
                                            <div class="font-sm">
                                                <%= messages[i].formatted_sent_datetime %>
                                            </div>

                                            <div>
                                                <% if (messages[i].emoji_id> 0) { %>
                                                    <div id="emoji<%= messages[i].message_id %>" class="flex gap-2">
                                                        <% if (messages[i].emoji_id==1) { %>
                                                            <span class="material-symbols-outlined">sentiment_satisfied</span>
                                                            <% } if (messages[i].emoji_id==2) { %>
                                                                <span class="material-symbols-outlined">money</span>
                                                                <% } if (messages[i].emoji_id==3) { %>
                                                                    <span class="material-symbols-outlined">thumb_up</span>
                                                                    <% } %>
                                                    </div>
                                                    <% } %>
                                            </div>

                                               
                                            


                                    </div>
                                    <% } else { %>
                                        <div class=" textboxesRight text-align-left rounded-lg">
                                            <div class="font-bold">
                                                <%= messages[i].username %>
                                            </div>
                                            <%= messages[i].text %>
                                                <div class="font-sm">
                                                    <%= messages[i].formatted_sent_datetime %>
                                                </div>
                                        </div>

                                        <div>
                                            <% if (messages[i].emoji_id> 0) { %>
                                                <div id="emoji<%= messages[i].message_id %>" class="flex gap-2">
                                                    <% if (messages[i].emoji_id==1) { %>
                                                        <span class="material-symbols-outlined">sentiment_satisfied</span>
                                                        <% } if (messages[i].emoji_id==2) { %>
                                                            <span class="material-symbols-outlined">money</span>
                                                            <% } if (messages[i].emoji_id==3) { %>
                                                                <span class="material-symbols-outlined">thumb_up</span>
                                                                <% } %>
                                                </div>
                                                <% } %>
                                        </div>
                                        <% } %>
                            </div>
                            <% } else { %>
                                <% if (messages[i].isUnread) { %>
                                    <div class=" textboxesUnread text-align-left rounded-lg">
                                        <div class="font-bold">
                                            <%= messages[i].username %>
                                        </div>
                                        <%= messages[i].text %>
                                            <div class="font-sm">
                                                <%= messages[i].formatted_sent_datetime %>
                                            </div>
                                    </div>
                                    <% } else { %>
                                        <div class=" textboxesLeft text-align-left rounded-lg">
                                            <div class="font-bold">
                                                <%= messages[i].username %>
                                            </div>
                                            <%= messages[i].text %>
                                                <div class="font-sm">
                                                    <%= messages[i].formatted_sent_datetime %>
                                                </div>
                                        </div>
                                        <% } %>


                                            <% } %>
                    </div>


                 
                    
                    
                                      



                
                    
                                          

                    

              



                    <% } %>

                        <% if (groupName !=false) { %>
                            <div class="flex justify-end m-5 ">
                                <form action="/Main/<%= groupName %>" method="post" class="flex gap-2 w-full">
                                    <input type="text" name="message" id="message"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        placeholder="Type your message..." />

                                    <button type="submit"
                                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                        Send
                                    </button>
                                </form>
                            </div>
                            <% } %>

            </div>


        </div>
    </div>

<script>
    const messages = <%- JSON.stringify(messages) %>;
    const groupName = <%- JSON.stringify(groupName) %>;
</script>





    <%- include('templates/footer.ejs') %>
        <script src="/scripts/main.js"></script>